body {
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 1.7;
  color: #777777;
  margin: 0;
  text-align: center;
}

section {
  padding: 48px 0;
}

.splash {
  height: 100vh;
  position: relative;
  background-image: url(./../images/Background_Image.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /*.fas {*/
  /*    display: none;
    }*/
}

.splash .dark {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
}

.splash .dark .burger {
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  text-align: right;
  color: #ffffff;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.splash .dark .burger .fas {
  display: none;
}

.splash .dark .burger .show {
  display: block;
}

@media (max-width: 680px) {
  .splash .dark .burger {
    display: block;
  }
}

.splash .navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 12px;
}

.splash .navigation .logo {
  font-family: "Meie Script", cursive;
  color: #fed136;
  font-size: 26px;
  line-height: 41px;
}

@media (max-width: 680px) {
  .splash .navigation .logo {
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.splash .navigation .logo h1 {
  font-weight: 400;
  padding: 12px 12px 12px 50px;
  margin: 0;
}

.splash .navigation .menu {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 680px) {
  .splash .navigation .menu {
    display: none;
    -ms-flex-direction: column;
        flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #DAA520;
    width: 100%;
    height: 30%;
    opacity: 0.9;
  }
}

.splash .navigation ul.menu.show {
  display: block;
}

.splash .navigation li {
  margin-right: 36px;
}

.splash .navigation li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.splash .navigation li a:hover {
  color: #fed136;
}

.splash .splash-inner {
  margin-top: 15%;
}

.splash .splash-inner .title {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  font-weight: 300;
  margin: 96px 0 0 0;
}

@media (max-width: 680px) {
  .splash .splash-inner .title {
    font-size: 24px;
  }
}

.splash .splash-inner .subtitle {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  margin: 0;
}

@media (max-width: 680px) {
  .splash .splash-inner .subtitle {
    font-size: 35px;
  }
}

.splash .splash-inner .btn {
  min-width: 240px;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #fed136;
  text-align: center;
  margin-top: 24px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: solid 3px #fed136;
  cursor: pointer;
  transition: .5s;
}

@media (max-width: 680px) {
  .splash .splash-inner .btn {
    min-width: 160px;
    font-size: 14px;
    padding: 8px;
  }
}

.splash .splash-inner .btn:hover {
  background-color: #ffffff;
  color: #fed136;
}

.services-boxes {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.services-boxes .services-inner {
  margin-bottom: 45px;
}

.services-boxes .services-inner .services-title {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 0;
}

@media (max-width: 680px) {
  .services-boxes .services-inner .services-title {
    font-size: 32px;
  }
}

.services-boxes .services-inner .services-sentence {
  color: #777777;
  margin-top: 0;
}

.services-boxes .service-inner i {
  border: 3px solid #fed136;
  background-color: #ffffff;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 62px;
  text-align: center;
  color: #fed136;
}

.services-boxes .service-inner-title {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.45px;
}

.services-boxes .service-description {
  font-size: 14px;
  letter-spacing: -0.35px;
}

.portfolio {
  background-color: #f7f7f7;
}

.portfolio .portfolio-title-top {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 0;
}

@media (max-width: 680px) {
  .portfolio .portfolio-title-top {
    font-size: 32px;
  }
}

.portfolio .portfolio-sentence-top {
  margin-top: 0;
  margin-bottom: 60px;
}

.portfolio .portfolio-image {
  position: relative;
  padding-top: 15px;
}

.portfolio .portfolio-image::before {
  position: absolute;
  content: '';
  background: #000000;
  opacity: .6;
  width: 291px;
  height: 300px;
  display: none;
  transition: 1s;
  left: 44px;
  top: 15px;
}

.portfolio .portfolio-image:hover::before {
  display: block;
}

.portfolio .portfolio-image .image-content {
  color: #DAA520;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  transition: 1s;
  width: 291px;
  height: 300px;
}

.portfolio .portfolio-image .image-content:hover {
  opacity: 1;
}

.portfolio .portfolio-image .image-content .image-btn {
  border: solid 1px #DAA520;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #DAA520;
  transition: 1s;
}

.portfolio .portfolio-image .image-content .image-btn:hover {
  background-color: #DAA520;
  color: #000000;
}

.portfolio .portfolio-image .image-content .under-btn {
  font-size: 8px;
}

.portfolio .portfolio-image .portfolio-title {
  background-color: #ffffff;
  width: 291px;
  padding: 24px 0;
  margin: 0 auto;
}

.portfolio .portfolio-image .portfolio-title .portfolio-image-title {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin: 0;
}

.portfolio .portfolio-image .portfolio-title .portfolio-paragraph {
  font-size: 14px;
  color: #737373;
  margin-top: 0;
}

.page-footer {
  padding: 24px 0;
}

.page-footer .footer-paragraph {
  padding: 9px 96px;
  color: #555555;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.35px;
}

.page-footer .social-media li {
  display: inline-block;
  padding-right: 12px;
}

.page-footer .social-media li i {
  font-size: 16px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  background: #222222;
  border-radius: 50%;
  line-height: 40px;
  border: 2px solid #000000;
  transition: 0.5s;
}

.page-footer .social-media li i:hover {
  color: #000000;
  border: 2px solid #000000;
  background: #ffffff;
}

.page-footer .social-media li a {
  font-size: 0;
}

.show-mobile {
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #DAA520;
  width: 100%;
  height: 30%;
  opacity: 0.9;
  display: block;
}
/*# sourceMappingURL=style.css.map */