//font-family: 'Meie Script', cursive;
//font-family: 'Merriweather', serif;
//font-family: 'Roboto', sans-serif;

// Variables

$color-one: #ffffff;
$color-two: #000000;
$color-three: #fed136;
$color-four: #f7f7f7;
$color-five: #555555;
$color-six: #222222;
$color-seven: #777777;
$color-eight: #333333;
$color-nine: #737373;
$color-gold: #DAA520;

$text: 'Merriweather',
serif;
$text-decoration: 'Meie Script',
cursive;
$text-title: 'Roboto',
sans-serif;

$tablet: 992px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content
    }
}

$mobile: 680px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content
    }
}


// Global

body {
    font-size: 16px;
    font-family: $text;
    font-weight: 400;
    letter-spacing: -0.35px;
    line-height: 1.7;
    color: $color-seven;
    margin: 0;
    text-align: center;
}

section {
    padding: 48px 0;
}

// Splash & Navigation

.splash {
    height: 100vh;
    position: relative;
    background-image: url(./../images/Background_Image.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .dark {
        background-color: rgba(0, 0, 0, 0.55);
        width: 100%;
        height: 100%;
    }

    // Navigation

    .burger {
        width: 100%;
        padding: 10px 20px;
        background: transparent;
        text-align: right;
        color: $color-one;
        font-size: 30px;
        display: none;
        cursor: pointer;

        @include mobile {
            display: block;

        }
    }

    .fas {
        display: none;
    }

    .show {
        display: block;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;



        .logo {
            font-family: $text-decoration;
            color: $color-three;
            font-size: 26px;
            line-height: 41px;

            @include mobile {
                position: absolute;
                left: 0;
                top: 10px;
            }

            h1 {
                font-weight: 400;
                padding: 12px 12px 12px 50px;
                margin: 0;
            }
        }

        .menu {
            list-style-type: none;
            display: flex;
        }

        .ul-list {
            @include mobile {
                flex-direction: column;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-gold;
                width: 100%;
                height: 30%;
                opacity: 0.9;
                display: none;

                .pokaz {
                    display: block;

                }
            }
        }

        li {
            margin-right: 36px;

            a {
                text-decoration: none;
                color: $color-one;
                font-size: 14px;
                font-weight: 400;
                line-height: 41px;
                text-transform: uppercase;
                font-family: $text-title;



                &:hover {
                    color: $color-three;
                }
            }
        }
    }
}

// Splash

.splash-inner {
    margin-top: 15%;

    .title {
        color: $color-one;
        font-family: $text;
        font-size: 40px;
        font-style: italic;
        letter-spacing: -1px;
        font-weight: 300;
        margin: 96px 0 0 0;

        @include mobile {
            font-size: 24px;
        }
    }

    .subtitle {
        color: $color-one;
        font-family: $text-title;
        font-size: 75px;
        text-transform: uppercase;
        letter-spacing: -1.88px;
        margin: 0;

        @include mobile {
            font-size: 35px;
        }
    }

    .btn {
        min-width: 240px;
        padding: 16px;
        font-family: $text-title;
        background-color: $color-three;
        text-align: center;
        margin-top: 24px;
        color: $color-one;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border: solid 3px $color-three;
        cursor: pointer;
        transition: .5s;

        @include mobile {
            min-width: 160px;
            font-size: 14px;
            padding: 8px;
        }

        &:hover {
            background-color: $color-one;
            color: $color-three;
        }
    }
}


// Services

.services-boxes {
    justify-content: space-between;

    .services-inner {
        margin-bottom: 45px;

        .services-title {
            color: $color-six;
            font-family: $text-title;
            font-size: 40px;
            font-weight: 700;
            line-height: 75px;
            text-transform: uppercase;
            letter-spacing: -1px;
            margin-bottom: 0;

            @include mobile {
                font-size: 32px;
            }
        }

        .services-sentence {
            color: $color-seven;
            margin-top: 0;
        }
    }

    .service-inner {


        i {
            border: 3px solid $color-three;
            background-color: $color-one;
            width: 68px;
            height: 68px;
            border-radius: 50%;
            font-size: 30px;
            line-height: 62px;
            text-align: center;
            color: $color-three;
        }
    }

    .service-inner-title {
        color: $color-six;
        font-family: $text-title;
        font-size: 18px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: -0.45px;
    }

    .service-description {
        font-size: 14px;
        letter-spacing: -0.35px;
    }
}



// Portfolio

.portfolio {
    background-color: $color-four;


    .portfolio-title-top {
        color: $color-six;
        font-family: $text-title;
        font-size: 40px;
        font-weight: 700;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-bottom: 0;

        @include mobile {
            font-size: 32px;
        }
    }

    .portfolio-sentence-top {
        margin-top: 0;
        margin-bottom: 60px;
    }

    .portfolio-image {
        position: relative;
        padding-top: 15px;

        &::before {
            position: absolute;
            content: '';
            background: $color-two;
            opacity: .6;
            width: 291px;
            height: 300px;
            //padding: 0;
            display: none;
            transition: 1s;
            left: 44px;
            top: 15px;
        }

        &:hover::before {
            display: block;
        }

        .image-content {
            color: $color-gold;
            position: absolute;
            opacity: 0;
            left: 50%;
            top: 35%;
            transform: translateX(-50%);
            transition: 1s;
            width: 291px;
            height: 300px;

            &:hover {
                opacity: 1;
            }

            .image-btn {
                border: solid 1px $color-gold;
                background: transparent;
                text-transform: uppercase;
                font-size: 12px;
                font-family: $text-title;
                color: $color-gold;
                transition: 1s;

                &:hover {
                    background-color: $color-gold;
                    color: $color-two;
                }
            }

            .under-btn {
                font-size: 8px;

            }
        }

        .portfolio-title {
            background-color: $color-one;
            width: 291px;
            padding: 24px 0;
            margin: 0 auto;

            .portfolio-image-title {
                color: $color-eight;
                font-family: $text-title;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.45px;
                margin: 0;
            }

            .portfolio-paragraph {
                font-size: 14px;
                color: $color-nine;
                margin-top: 0;
            }
        }
    }
}

// Footer

.page-footer {
    padding: 24px 0;

    .footer-paragraph {
        padding: 9px 96px;
        color: #555555;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.35px;
    }

    .social-media {


        li {
            display: inline-block;
            padding-right: 12px;

            i {
                font-size: 16px;
                color: $color-one;
                width: 40px;
                height: 40px;
                background: $color-six;
                border-radius: 50%;
                line-height: 40px;
                border: 2px solid $color-two;
                transition: 0.5s;

                &:hover {
                    color: $color-two;
                    border: 2px solid $color-two;
                    background: $color-one;
                }
            }

            a {
                font-size: 0;
            }
        }

    }
}